aiohttp
TgCrypto
asyncio
pymongo
telethon==1.19.5
selenium
pillow
faker
bs4
bing_image_downloader
flag
countryinfo
heroku3
gitpython
dnspython
html2text
telegraph
pygments
pytz
google_trans_new
PyDictionary
secureme
numpy
opencv-contrib-python
youtube_dl
geopy
dateparser
youtube-search-python
tswift
cloudmersive_virus_api_client
sqlalchemy
psycopg2-binary
gtts
nltk
zalgo_text
emoji
cowpy
fontTools
wikipedia
hachoir
cloudmersive_ocr_api_client
google_trans_new
nudepy==0.5.1
howdoi==2.0.10
better_profanity==0.7.0
tldextract==3.0.2
coffeehouse
